.base-class{   
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2145px;
    background: #FCFCFF 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    .logo {
    margin-top: -930px;
    margin-left: 120px;
    width: 123px;
    height: 123px;
    background: transparent url('../assets/images/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    .blob-small {
    margin-top: 213px;
    margin-left: -179px;
    width: 571px;
    height: 572px;
    background: transparent url('../assets/images/blob-small.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    .accounting_dots {
    margin-top: 60px;
    margin-left: 1458px;
    width: 430px;
    height: 70px;
    background: transparent url('../assets/images/accounting_dots.svg') 0% 0% no-repeat padding-box;
    opacity: 0.5;
    }

    .circle {
    margin-top: -1198.9068603515625px;
    margin-left: 852px;
    width: 1080px;
    height: 1192px;
    background: transparent url('../assets/images/circle.svg') 0% 0% no-repeat padding-box;
    opacity: 0.5;
    }
    
    .sol-wave {
    margin-top: 1209px;
    margin-left: 0.0001220703125px;
    width: 1920px;
    height: 936px;
    background: transparent url('../assets/images/sol_wave_bg.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    .collect_img {
    margin-top: -300px;
    margin-left: 136px;
    width: 652px;
    height: 365px;
    background: transparent url('../assets/images/collect_img-video.png') 0% 0% no-repeat padding-box;
    opacity: 1; 
    }
    
    /* .nav_class {
    margin-top: 68px;
    margin-left: 1030px;
    width: 103px;
    height: 34px;
    text-align: left;
    font: normal normal normal 25px/34px Open Sans;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    } */

.prod_class {
margin-top: 68px;
margin-left: 1030px;
width: 103px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}  

.sol_class {
margin-top: 68px;
margin-left: 1183px;
width: 108px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}

.pri_class {
margin-top: 68px;
margin-left: 1341px;
width: 79px;
height: 34px;
text-align: left;
font: normal normal normal 25px/34px Open Sans;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}

.login_class {
margin-top: 63px;
margin-left: 1480px;
width: 118px;
height: 45px;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
}

.log_txt {
text-align: center;
color: #663399;
opacity: 1;
}

.get_txt {
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.get_started {
margin-top: 63px;
margin-left: 1622px;
width: 166px;
height: 45px;
background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 20px #00000033;
border-radius: 24px;
opacity: 1;
}
