<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link prod_class" style="font: normal normal normal 25px/34px Open Sans; margin-top: 68px;" href="#">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sol_class" style="margin-left: 50px; font: normal normal normal 25px/34px Open Sans; margin-top: 68px;" href="#">Solutions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pri_class" style="margin-left: 50px; font: normal normal normal 25px/34px Open Sans;margin-top: 68px;" href="#">Pricing</a>
  </li>
  <button class="nav-item login_class" style="margin-left: 50px; font: normal normal normal 25px/34px Open Sans;margin-top: 68px;">
   <span class="log_txt">Login</span>
  </button>
  <button class="nav-item get_started" style="margin-left: 50px; font: normal normal normal 25px/34px Open Sans;margin-top: 68px;">
  <span class="get_txt">Get Started</span>
  </button>

</ul>
<app-input-form></app-input-form>

<div class="base-class">


  <div class="logo">

  </div>
  <div class="blob-small">

  </div>

  <div class="collect_img">

  </div>


  <div class="circle">
 

  </div>

  <div class="accounting_dots">

  </div>

  <div class="sol-wave">

  </div>
</div>