<div class="card card-style">
    <div class="card-header">
        Eligibility Calculator
    </div>
    <div class="card-body">
        <small>Monthly Income</small>
        <p>&#x20b9; {{value1}}</p>
        <ngx-slider [(value)]="value1" [options]="options"></ngx-slider><br><br>
        <small>Monthly Expenses</small>
        <p>&#x20b9; {{value2}}</p>
        <ngx-slider [(value)]="value2" [options]="options1"></ngx-slider><br><br>
          
        
    
    </div>
</div>


<div class="card q-cash">
    <span>{{val}}</span>    
    <div class="card-body">
        {{val1}} 
</div>

<div class="card lir">
    <span>Low interest rate</span>    
    <div class="card-body">
        
</div>

<div class="card zero ">
    <span>zero paperwork</span>    
    <div class="card-body">
        
</div>

<div class="card rect-2">
    <span>Ace your business finances</span>    
    <div class="card-body">
        
</div>

<div class="card covid ">
    <span>Loans to fight covid-19</span>    
    <div class="card-body">
        
</div>

</div>